* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* navigation Bar all Css Codes Here */

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 100px 0px 80px;
}

.navlist ul {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.navlist ul li {
    padding: 10px;
    text-decoration: none;
    list-style: none;

}

.navlist ul li a {
    font-family: "Inter", sans-serif;
    color: #000000;
    opacity: 0.8;
    text-decoration: none;
    font-weight: medium;


}

.logo img {
    width: 142px;
    height: 55px;
}



/* Main hero section css codes here */

#home {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 100px 50px 100px 50px;
    gap: 100px;

}

.home-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;

}

.profile-know-more {

    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;

}

.profile-know-more p {
    display: inline-block;
    padding: 5px 8px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background: linear-gradient(90deg, #00C9FF, #92FE9D, #e6d027, #FFAA85, #FF0084);
    -webkit-background-clip: text;
    color: transparent;


    position: relative;
    overflow: hidden;

}

.profile-know-more p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    animation: border-rotate 2s ease-in infinite;
    pointer-events: none;
}

@keyframes border-rotate {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    }

    25% {
        clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 100% 0%);
    }

    50% {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 100%);
    }

    75% {
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%, 100% 0%);
    }

    100% {
        clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    }
}

.profile-know-more p:hover::before {
    animation-play-state: running;
}


.profile {
    padding: 20px 0px 20px 0px;
    
}

.profile-deatisl {
    width: 400px;
}

.profile-deatisl h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 36px;
}

.profile-deatisl a img {
    width: 30px;
    height: auto;
    margin: 10px 5px 0px 0px;
}

.profile-deatisl a img:hover {
    transform: scale(1.3);
    transition-duration: 300ms;
}


.Introduction {

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: left;
    margin: 150px 100px 150px 100px;

}

.intro-whole {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.intro {
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
}

.child {
    color: #00A86B;
}

.know-more {
    margin-left: 20px;
}


/* card section css code ehere */

.portfolio-projects {
    margin-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.section-para {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    opacity: 0.6;
}


.section-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
    display: inline-block;
}

.section-title .highlight {
    color: #ff6347;
    /* Tomato color for emphasis */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project-card {
    background-color: #fffefe;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in;
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-card:hover {
    transform: scale(1.035);
}

.project-image {
    object-fit: cover;
    width: 380px;
    height: 280px;
}

.project-image:hover {
    transform: scale(1.035);
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}

.project-info {
    padding: 10px;
    text-align: left;
    width: 100%;
}

.project-info h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    margin: 10px 0 5px;
}

.project-info p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}


















.skill-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    text-align: center;

    margin: 100px auto;
    padding: 20px;
    max-width: 1200px;
    overflow-y: auto; 
    scroll-behavior: smooth;
}

.skill-topic {
    margin-bottom: 20px;
    color: #333;
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;

}

.skills-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
   
 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    
   
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(69, 224, 131, 0.468);
    cursor: none;
}

.skill-box img {
    width: 30px;
    height: 30px;
}

.skill-box p {
    font-size: 100%;
}





















.image-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.art-flex{
    object-fit: contain;
}

.box img{
    object-fit: cover;
}
.art-flex img{
    width: 1160px;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;
}
.img-layout {
    position: relative;
    margin-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-grid .box {
    position: relative;
}

.image-grid .box img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
}

.popup-box img {
    max-width: 100%;
    height: auto;
}

#popupInfo {
    margin-top: 10px;
}

.popup-box.show {
    border-radius: 5px;
    width: 500px;
    opacity: 1;
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 500;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}




.experience-section {
  
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    max-width: 100%; /* Maximum width of the entire section */
    padding: 50px 20px 10px 20px; /* Padding around the section */
    background: linear-gradient(-70deg, #f0f0f0, #f0f0f0, #79c98a, #f0f0f0);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;
	height: 110vh;
   
}

.experience-header {
    width: 100%; /* Full width by default */
    max-width: 1200px;
    align-items: center; /* Align header content to the left */
    margin-bottom: 20px; /* Space between header and boxes */
}

.experience-header-content {
    max-width: 1200px; /* Limit width of header content */
}

.experience-para {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    opacity: 0.6;
}

.experience-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
    display: inline-block;
}

.highlight {
    color: #ff6347;
}

.experience-box {
    width: 100%; /* Full width by default */
    max-width: 1200px; /* Maximum width of 1200px */
    height: auto; /* Let the height adjust automatically */
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for glass effect */
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box; /* Include padding and border in the box's total width */
    margin-bottom: 20px; /* Space between boxes */
}

.experience-box:hover {
    transform: translateY(-5px); /* Lift the box on hover */
}

.experience-box-tile {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.experience-box-tile h3 {
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: 800;
}

.experience-box-tile p {
    color: #000000;
    opacity: 0.5;
}

.Company {
    font-family: "Inter", sans-serif;
    color: #000000;
    opacity: 0.6;
    font-weight: 500;
}

.exp-description-ul {
    margin-top: 5px;
    margin-left: 25px;
    opacity: 0.5;
}

.child-des {
    
}





@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}











@media (max-width: 768px) {
    .project-card {
        width: calc(50% - 20px);
    }

    .profile-deatisl {
        text-align: center;
    }


    .profile-know-more {
        justify-content: center;
    }

    .intro {
        text-align: center;
        margin: 5px;
    }

    .intro-whole {

        margin: 5px;
    }

    .home-main {
        justify-content: center;
    }

    .Introduction {
        margin: 50px 50px 80px 50px;

    }

    .intro-whole {
        align-items: center;
    }

    .navlist {
        display: none;
    }

    .profile img {
        width: 250px;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    #home {
        margin: 20px 50px 100px 50px;
    }

    .Navbar {
        justify-content: center;
        margin-top: 20px;
    }

    .less-text {
        display: none;
    }

    .skill-item {
        flex: 1 1 calc(33.333% - 40px);
        /* Change to 3 items per row */
        max-width: calc(33.333% - 40px);
    }









    .skill-box img {
        width: 20px;
    }
    .skill-box p {
        font-size: 90%;
    }








    .skill-section {
        padding: 15px;
        justify-content: center;
    }

    .skill-topic {
        font-size: 2 rem;
    }

    .skills-data {
        justify-content: center;
        gap: 15px;
    }

    .skill-box {
        width: 120px;
        height: 45px;
    }





   
    .experience-box {
        padding: 15px;
    }
    .exp-description-ul {
        margin-left: 15px;
        font-size: 70%;
    }
    

  

  
}

@media (max-width: 480px) {
    .project-card {
        width: 100%;
    }

    .profile-deatisl {
        text-align: center;
    }


    .profile-know-more {
        justify-content: center;
    }

    .intro {
        text-align: center;
    }

    .home-main {
        justify-content: center;
        gap: 50px;
    }

    .Introduction {
        margin: 50px 10px 80px 10px;

    }

    .profile img {
        width: 200px;
    }

    .skill-item {
        flex: 1 1 calc(50% - 40px);
        /* Change to 2 items per row */
        max-width: calc(50% - 40px);
    }


    .skill-box img {
        width: 18px;
    }

    .skill-box p {
        font-size: 80%;
    }


    .skill-section {
        padding: 10px;
        justify-content: center;
        scroll-behavior: smooth;
    }

    .skill-topic {
        font-size: 1.8rem;
    }

    .skills-data {
        justify-content: center;
        gap: 10px;
    }

    .skill-box {
        width: 100px;
        height: 40px;
    }


    .experience-box {
        padding: 15px;
    }
    .exp-description-ul {
        margin-left: 15px;
        font-size: 50%;
    }

   
}